/*-----------
      font 
---------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



/*------------------------------------------------------
         common styles or utilities
--------------------------------------------------------*/
body{
    font-family: 'Poppins', sans-serif;
    background-color: #ffffff;
    padding: 0;
    margin: 0;
}

/* ----------------------------
             Top part
--------------------------------  */
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-container{
    padding-left: 100px;
    padding-top: 20px;
    padding-bottom: 0px;
    padding-right: 30px;
    display: grid;
    background-color: #161616;
    grid-template-columns: repeat(2,1fr);
    width: 1300px;
    grid-column-gap: 100px;
    margin-top: 60px;
}
.first-part-title{
    font-size: 68px;
    font-weight: 900;
    margin-bottom: 50px;
    color: white;
}
.fp-discription{
    margin-bottom: 40px;
    color: white;
}
.top-button{
    color: azure;
    text-decoration: none;
    background-color: #DD0000;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;
}
.fa-regular{
    margin-left: 5px;
    text-align: center;
}
.first-part-image{
    margin-left: 0px;
}
.first-part-image img{
    width: 100%;
}

/*-------------------------------
        post section 
-------------------------------- */
.nav-buttons{
    display: flex;
    flex-direction: column;
    width: 312px;
    background-color: #0A0826;
    height: 312px;
    padding: 30px;
    margin-right: 30px;
    border-radius: 10px;
}
.button{
    text-decoration: none;
    background-color: white;
    color: #0A0826;
    margin-top: 40px;
    margin-right: 10px;
    padding: 15px 20px;
    border-radius: 5px;
    text-align: center;

}
#selected{
    background-color: #DD0000;
    color: white;
}

.post-container{
    width: 1321px;
    margin-top: 100px;
    margin-bottom: 100px;
    display: flex;
}
.posts{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}
.post{
    padding: 14px;
    box-shadow: 0 0 15px 5px #aaaaaa6e;
    border-radius: 5px;
}
.post-image img{
    width: 100%;
}
.post-image-match img{
    width: 40%;
}
.vs{
    margin: 0px 10px;
}
.post-image-match{
    display: flex;
    align-items: center;
}
.post-title{
    padding: 0px 20px;
    display: inline-block;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-bottom: 0;

}
.info-text{
    font-size: 14px;
    font-weight: 900;
    margin-top: 0;
}
.icon{
 
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
}

/*------------------------------------------
              View all Button
---------------------------------------------*/
.view{
    display: none;
    color: azure;
    text-decoration: none;
    background-color: #DD0000;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 5px;

}


/*------------------------------------------
              footer styles 
---------------------------------------------*/
.footer{
    width: 100%;
    height: 240px;
    background-color: #0A0826;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-containter{
    font-size: 18px;
    margin-top: 40px;
    color: white;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-title{
    margin-bottom: 0;
}
.option{
    margin: 20px 0px;

}
.options{
    text-decoration: none;
    color: #ffffff;
    padding-right: 20px;
}
.icons{
    display: grid;
    grid-auto-flow: column;
    grid-column-gap: 20px;
}
/*-------------------- 
    Media queries 
    for phone
---------------------*/

@media only screen and (max-width:688px) {

    .post{
        width: 400px;
        
    }
    .top-container{
        width: 100%;
        grid-template-columns: repeat(1,1fr);
    }
    .first-part{
        margin: 100px;
    }
    .first-part-image{
        margin: 100px;
    }
    .post-container{
        width: 100%;
        margin: 100px;
        display: flex;
        flex-direction: column;
    }
    .nav-buttons{
        margin-left: 50px;
    }
    .posts{
        width: 100%;
        padding: 50px;
        grid-template-columns: repeat(1,1fr);
        grid-column-gap: 0;
    }
    .view{
        display: block;
        margin-bottom: 50px;
    }
    .footer{
        height: 400px;
    }
    .option{
        display: flex;
        flex-direction: column;
    }
    .options{
        margin-top: 10px;
    }
    
}

/*-------------------- 
    Media queries 
    for tablet
---------------------*/

@media only screen and (min-width:688px) and (max-width:992px) {
    .post{
        width: 300px;
        
    }
    .top-container{
        width: 100%;
        grid-template-columns: repeat(1,1fr);
    }
    .first-part{
        margin: 100px;
    }
    .first-part-image{
        margin: 100px;
    }
    .post-container{
        display: flex;
        flex-direction: column;
        margin: 50px;
        width: 100%;
    }
    .nav-buttons{
        margin-left: 50px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-column-gap: 20px;
        height: 100px;
        width: 80%;
        padding-top: 0px;
        padding-bottom: 50px;
    }
    .posts{
        width: 100%;
        padding: 50px;
        grid-template-columns: repeat(2,1fr);
        grid-column-gap: 0;
    }
    .view{
        display: block;
        margin-bottom: 50px;
    }
}